<!DOCTYPE html>
<html ng-app="TokenRunApp">
	<head>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bpmn-viewer-style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
		<script src="../app.js"></script>
		<script src="../controller/BpmnViewerController.js"></script>
		<script src="../controller/FinishedLevelModalController.js"></script>
		<script src="../controller/HumanTaskModalController.js"></script>
		<script src="../bower_components/bpmn-js/dist/bpmn-navigated-viewer.js"></script>
		
		<meta charset="ISO-8859-1">
		<title>Token Run</title>
	</head>
	
	<body ng-controller="BpmnViewerController" ng-init="initLevel()">
		
		<div ng-include="'../templates/FinishedLevelModal.html'"></div>
		<div ng-include="'../templates/HumanTaskModal.html'"></div>
		
		<!-- Steuerungselemente -->
		<div>
			<div id="tokenRunErrorContainer" ng-show="error.length>0">
     			<h4>{{ error }}</h4>
     		</div>
			<div class="form-group">
				<div class="big left">Current Level: {{ level.key }}</div>
				<div class="big right">Elapsed time: {{ level.time }}</div>
			</div>
			<br />
			<br />
			<div class="form-group">
				<button class="btn btn-default big left" ng-click="cancel()">Cancel</button>
				<button class="btn btn-primary big right" ng-click="startLevel()" ng-disabled="level.started">Start</button>
			</div>
		</div>
		
		<br />
		
		<!-- viewer -->
		<div id="js-canvas"></div>
		
		<!-- only for test purposes use functions openLevelScorePopup() and commitLevelScoreAndClosePopup() from code to replace button -->
		<button ng-click="openLevelScorePopup();currentLevelScore=1000;" class="btn btn-primary" ng-click="currentLevelScore=10000">Enter Score</button>
		
		<div class="modal fade" id="levelscoreModal" tabindex="-1" role="dialog" aria-labelledby="levelscoreModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="levelscoreModalLabel">Enter Name For Level Score</h4>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal" name="enterLevelScoreForm">
		        	<div class="form-group">
				    	<label class="col-lg-4 col-sm-4 control-label">Your Score</label>
				    	<div class="col-lg-8 col-sm-8">
				      		<p class="form-control-static"><span class="label label-success">{{currentLevelScore}}</span></p>
				    	</div>
				  	</div>
					<div class="form-group">
						<label for="playerNameInput" class="col-lg-4 col-sm-4 control-label">Your Player Name</label>
				    	<div class="col-lg-8 col-sm-8">
				      		<input type="text" class="form-control" id="playerNameInput" required ng-model="currentPlayerName" placeholder="Your player name">
				    	</div>
					</div>				  	
		        </form>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" ng-disabled="enterLevelScoreForm.$invalid" ng-click="commitLevelScoreAndClosePopup()">Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
</body>
</html>