<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="../app.js"></script>
		<script src="../controller/BpmnViewerController.js"></script>
		<script src="../bower_components/bpmn-js/dist/bpmn-viewer.js"></script>
		<meta charset="ISO-8859-1">
		<title>Token Run</title>
	</head>
	
	<body ng-app="TokenRunApp">
		
		<!-- Steuerungselemente -->
		<div>
			<button>Starte Prozess</button>
			<button>Zurück zur Startseite</button>
		</div>
		
		<!-- viewer -->
		<div id="js-canvas" ng-controller="BpmnViewerController"></div>
		
</body>
</html>