 <!doctype html>
 <html ng-app="TokenRunApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="../app.js" type="text/javascript"></script>
		<script src="../controller/GameActionsController.js"></script>
	</head>
	<style>
	blink {
	    display: inline;
	    color: inherit;
	    animation: blink 1s steps(1) infinite;
	    -webkit-animation: blink 1s steps(1) infinite;
	}
	@keyframes blink { 50% { color: transparent; } }
	@-webkit-keyframes blink { 50% { color: transparent; } }
	</style>
	<body class="container" ng-controller="GameActionsController" ng-init="loadAvailableProcessDefinitions()">
		
		<div id="tokenRunMainContainer" ng-show="error.length==0">
		<h1>TokenRUN</h1>
		<h3>Just play</h3>
		<hr>
		<div id="tokenRunLevelToPlayContainer" ng-show="processDefinitions.length>1">
			<form class="form-inline">
				<select class="form-control" ng-model="selectedProcessDefinition" ng-change="validateLevelSelection()"
					ng-options="processDefinition.name for processDefinition in processDefinitions track by processDefinition.name">	
				</select>
				<button ng-click="playLevel()" class="btn btn-primary" ng-disabled="selectedProcessDefinition.id==-1">play level</button>
				<button ng-click="showHighscoresForLevel()" class="btn btn-success" ng-disabled="selectedProcessDefinition.id==-1">show highscores</button>
			</form>
			<div class="modal fade" id="highscoreModal" tabindex="-1" role="dialog" aria-labelledby="highscoreModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="highscoreModalLabel">Highscores for {{selectedProcessDefinition.name}}</h4>
			      </div>
			      <div class="modal-body">
			        <table class="table table-striped" ng-show="levelHighscores.length>0">
			        	<tr>
			        		<th>Rank</th>
			        		<th>Player</th>
			        		<th>Score</th>
			        	</tr>
						<tr ng-repeat="levelHighscore in levelHighscores">
							<td>#{{$index+1}}</td><td>{{levelHighscore.playerName}}</td><td>{{levelHighscore.time}}</td>
						</tr>
					</table>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
     </div>
     <br>
     <div id="tokenRunInfoContainer" ng-show="info.length>0">
		<div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Sorry!</strong> {{info}}
		</div>
     </div>
     <div id="tokenRunErrorContainer" ng-show="error.length>0">
     	<h4>{{error}}</h4>
     </div>
     <div ng-include="'log.html'"></div>
   </body>
 </html>

