<br>
<br>
<br>
<marquee><span ng-show="showLog"><blink><b>TOKEN</b></blink> RUN FOR THE <blink><b>WORLD</b></blink></span></marquee>
<marquee><span ng-show="showLog">TOKEN <blink><b>RUN</b></blink> FOR <blink><b>THE</b></blink> WORLD</span></marquee>
<marquee><span ng-show="showLog">TOKEN RUN <blink><b>FOR</b></blink> THE WORLD</span></marquee>
<marquee><span ng-show="showLog">TOKEN <blink><b>RUN</b></blink> FOR <blink><b>THE</b></blink> WORLD</span></marquee>
<marquee><span ng-show="showLog"><blink><b>TOKEN</b></blink> RUN FOR THE <blink><b>WORLD</b></blink></span></marquee>
